body nav ul li{
    display: inline-block;
    font-size: 200%;
    padding: 5px;
}
section{
    margin-top: 100px;
    text-align: center;
    font-size: 300%;
}
nav{
    margin-left: 200px;
}
body nav ul li a{
    text-decoration: none;
}
section img{
    height: 500px;
    width: 600px;
    margin-top: -40px;
}
body{
    background-color: rgb(245, 244, 244);
}